@model FlashCards.Models.ViewModel.EditSetVM

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlashCards.styles.css" asp-append-version="true" />
</head>

<body id="unique-edit">


    <div id="title-content">


        <h1 class="text-center" id="cardset-name">@Model.SetName</h1>
        <h5 id="card-count">@Model.FrontCard.Length out of @Model.MaxCardsPerSet cards.</h5>
    </div>
    @{

            <h4 class="subsection-header">Edit cards</h4>
            <form asp-action="TestCardEdits" asp-controller="Personal" id="card-edits-form" method="post" class="ms-3">
                <div class="container-fluid">
                    <div class="row">
                        <input asp-for="SetId" type="hidden" />
                        <input asp-for="SetName" type="hidden" />

                        @{
                            for (int i = 0; i < Model.FrontCard.Length; i++)
                            {
                                <div class="col-4">
                                    <div class="card unchanged-card" id="card-@i">
                                        <div class="side-indication">
                                            <h6 id="front-header-@i" ondblclick="undoFront(@i, '@Model.FrontCard[i]', '@Model.BackCard[i]')">Front</h6>
                                            <textarea id="front-@i" cols="29" onkeyup="checkFront(@i, '@Model.FrontCard[i]', '@Model.BackCard[i]')" asp-for="FrontCard[i]"></textarea>
                                        </div>
                                        <div class="side-indication">
                                            <h6 id="back-header-@i" ondblclick="undoBack(@i, '@Model.BackCard[i]', '@Model.FrontCard[i]')">Back</h6>
                                            <textarea id="back-@i" cols="29" onkeyup="checkBack(@i, '@Model.BackCard[i]', '@Model.FrontCard[i]')" asp-for="BackCard[i]"></textarea>
                                        </div>
                                        <input asp-for="CardIDsInSet[i]" type="hidden" />
                                        <div>
                                            <input asp-for="CardIDsInSet[i]" type="hidden">
                                            <label asp-for="CardsToDelete[i]">Delete card</label>
                                            <input asp-for="CardsToDelete[i]" id="checkbox-@i" onclick="toggleDeleteStatus('@i')" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>



                </div>

                <button type="button" id="submit-card-edits-btn" class="custom-button">Submit changes</button>
            </form>


     
        <h4 class="subsection-header">Add a card</h4>
        <div class="container-fluid ">
            <div class="row">
                <form id="potential-card-form" asp-controller="Personal" asp-action="AddCardExistingSet" method="post">
                    <input type="hidden" name="setId" value="@Model.SetId">
                    <div class="col-4">
                        <div class="card not-ready-card" id="potential-card">
                            <div class="side-indication">
                                <h6>Front</h6>
                                <textarea cols="29" name="front" id="potential-front" onkeyup="checkCardValidity()"></textarea>
                            </div>
                            <div class="side-indication">
                                <h6>Back</h6>
                                <textarea cols="29" name="back" id="potential-back" onkeyup="checkCardValidity()"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="submit-potential-card-btn" class="custom-button" disabled>Add to set</button>
                </form>
                
            </div>
        </div>
        





    }
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/editset.js"></script>
<script type="text/javascript" src="~/js//addcardexistingset.js"></script>
