@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FlashCards.Models.User

<body class="site-theme">
@{
    <h3>My card sets</h3>
    if(Model.MySets == null)
    {
        <p>You have no card sets</p>
    }
    else
    {    
        for (int i = 0; i < Model.MySets.Count; i++)
        {
            <div class="card-set-overview site-theme-secondary">
                <ul>
                    <li class="set-name">
                        <h4>@Model.MySets.ElementAt(i).Name</h4>
                    </li>
                    <li>
                    
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@i" aria-expanded="false" aria-controls="flush-collapse-@i">
                                View info
                            </button>
                            </h2>
                            <div id="flush-collapse-@i" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Cards in set: @Model.MySets.ElementAt(i).Cards.Count</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        </div>

                    </li>
                    <br>
                    <br>
                    @{if(Model.MySets.ElementAt(i).Cards.Count > 0)
                        {
                            
                            <li class="hidden-input">
                                <a class="btn btn-success" href="ReviewSet?cardsetId=@Model.MySets.ElementAt(i).Id" role="button">Review set</a>
                            </li>
                        }
                    }
                    <li class="hidden-input">
                        <form asp-controller="Personal" asp-action="EditSet" method="get">
                            <input name="cardsetId" type="hidden"  value="@Model.MySets.ElementAt(i).Id">
                            <br>
                            <button class="custom-button" type="submit">Edit Set</button>
                        </form>
                    </li>
                    <li class="hidden-input">
                        <form asp-controller="Personal" asp-action="DeleteSet" method="post">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-set-@i">
                                Delete set
                            </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop-set-@i" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="body-warning-set-@i">
                                        Deleting the set will remove all cards within the set. You cannot undo this action. Are you sure?
                                    </div>
                                    <div class="modal-footer" id="footer-warning-set-@i">
                                        <input name="setToDeleteID" type="hidden" value="@Model.MySets.ElementAt(i).Id">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="retract-remove-set-button-@i">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete set</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        </form>
                    </li>
                </ul>
            </div>
            <br />
            <br />
        }
    }
    

    @if(Model.MySets != null)
    {
        if(Model.MySets.Count < Model.GetMaxCardPerSet())
        {
            <form asp-action="CreateSet" asp-controller="Personal" method="get">
                <input name="curUserId" type="hidden" value="@Model.Id">
                <button class="custom-button" type="submit">Create a card set</button>
            </form>
        }
        else
        {
            <p>Card set limit reached. (Cannot create more cards.)</p>
        }
    }
    else
    {
        <form asp-action="CreateSet" asp-controller="Personal" method="get">
                <input name="curUserId" type="hidden" value="@Model.Id">
                <button class="custom-button" type="submit">Create a card set</button>
        </form>
    }
}
</body>
